#tasks {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: white;
    pad: 5px 20px;
}

.task {
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D9D2D0;
    cursor: pointer;
    background-color: #D9D2D0;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}

.task span {
    font-family: 'Fragment Mono', monospace;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    /*background-color: #fff;
    color: #fff; */
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}